/*
* CS402-HW5
*
* @Author Prasanna Shiwakoti
* @Modified 4/14/2017
*/

/* all paragraphs are inline */
p {
    display: inline;
}

/* color labels, attached to corresponding color picker */
.color-label {
    border: 1px solid #a9a9a9;
    padding-left: 2px;
}

/* guess count*/
.guess-count {
    padding-right: 10px;
}

/* guessed letter highlighting */
.guessed-letter {
    margin: 0 1px;
    display: inline-block;
    height: 35px;
    width: 20px;
    font-size: 25px;
    text-align: center;
}

.guessed-letter-sm {
    margin: 0 1px;
    display: inline-block;
    height: 30px;
    width: 25px;
    font-size: 20px;
    text-align: center;
}

/* hidden letter highlighting */
.hidden-letter {
    margin: 0 1px;
    display: inline-block;
    height: 45px;
    width: 30px;
    font-size: 35px;
    text-align: center;
}

/* all dropdown pickers labels and difficulty (2nd) select */
.picker-dropdown {
    margin-right: 10px;
}

/* removing borders from tables with no-border class */
.table.no-border tr td,.table.no-border tr th {
    border-width: 0px;
}

/*  current-games-list use pointer as cursor */
#current-games-list {
    cursor: pointer;
}

/* */
#game-words {
    margin-top: 20px;
}

/* input to right of guess count*/
#guess-input {
	width: 40px;
	height: 30px;
}